.bienvenido{
    background-color: var(--azuloscuro);
    margin-right: 50%;
    height: 100%;
    opacity: 90%;
  }
  
  .bodyform{
    display: grid;
    grid-template: "header" 10% "formulario" auto;

  }

  .bodyform .bienvenido{
    position: fixed;
    left: 0;
    display: flex;
    flex-direction: column;
    z-index: 100;
  }

  .bienvenido img{
    margin-top: 70%;
    width: 80%;
    margin-left: 10%;
  }

  .bienvenido img{
    margin-top: 70%;
    width: 80%;
    margin-left: 10%;
  }

  .bienvenido h1{
    color: var(--blanco);
    margin-left: 25%;
    margin-top: 10px;
  }