

/*PIE DE PAGINA*/
.piepag{
    width: 96%;
    background-color: var(--negro);
    
}

  .piepag .grup1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
    
  }

  .piepag .grup1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .piepag .grup1 .box p{
    color: var(--blanco);
    margin-bottom: 10px;
    text-align: start;
  }

  .piepag .grup1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 15px;
    height: 15px;
    right: 10px;
    color: var(--blanco);
  }

  .piepag .grup1 .fa-solid{
    color: var(--blanco);
  }